# persistent data
transactions.db
types.json

# extra files that aren't part of the project
npm-debug.log
.DS_Store

# node modules, run npm install to get them instead of through source control
node_modules
