extends layout

block content
  h1 Budget Manager
  #blurb
    p An easy way to track your money.
  form
    input(type="date", name="date")
    br
    input(type="radio", name="classification", value="expense")
    label(for="expense") Expense
    input(type="radio", name="classification", value="income")
    label(for="income") Income
    br
    input(type="number", step="0.01", min="0", name="amount")
    br
    input(name="description", placeholder="Transaction description")
    br
    input(type="submit", value="Add")
