extends layout

block content
  h1#title= title
  p#blurb An easy way to track your money.
  - var add = true;
  #add(ng-controller="AddCtrl")
    form(ng-submit="addTransaction()")
      include transaction
    p.status(ng-show="added") Transaction added!

  // the list below should have query selectors
  // (maybe a radio button set and a date/month/year picker)
  // use ng-repeat to generate multiple forms or divs with similar features to the form
  // or just add a value attribute to the relevant tags
  // populate these with database data

  #history(ng-controller="HistCtrl")
    - add = false;
    #query
      label(for="year") Year
      input(type="radio", name="query", id="year", value="0", ng-model="queryType")
      label(for="month") Month
      input(type="radio", name="query", id="month", value="1", ng-model="queryType")
      label(for="day") Day
      input(type="radio", name="query", id="day", value="2", ng-model="queryType")

      //add a date picker here based on the value of queryType
      form(ng-submit="queryTransactions()")
        input(type="date", ng-model="query")
        br
        input(type="submit", value="Search")

      #results(ng-repeat="transaction in queryResults")
        form(ng-submit="updateTransaction()")
          include transaction
        {{transaction}}
