body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

#blurb {
  color: #FE2315;
  text-align: center;
}

a {
  color: #00B7FF;
}

label {
  padding-right: 3px;
}

.status {
  font-size: 12px;
  color: #23EA11;
}

#query {
  padding-top: 20px;
  padding-bottom: 10px;
}

#history {
  padding-top: 3px; 
}
